* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}
.container {
  margin-top: 10rem;
  display: flex;
  width: 65rem;
  max-width: 100%;

  gap: 7rem;
}

.images_slide {
  display: flex;
  flex-direction: column;
}

.big_image_tn img {
  width: 420px;
  height: 420px;
  border-radius: 25px;
  object-fit: cover;
  /* border: 1px solid hsl(26, 100%, 55%);   */
}

.big_image_tn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.small_images {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.small_images img {
  width: 92px;
  height: 92px;
  border-radius: 10px;
  /* border: 1px solid hsl(26, 100%, 55%); */
  cursor: pointer;
}

.small_images img:hover {
  opacity: 0.6;
}

.product_description {
  /* background-color: aqua; */
  height: 20rem;
  /* width: 20rem; */
  margin-top: 3.4rem;
  width: 30rem;
}

.company_name {
  font-size: 1rem;
  color: hsl(26, 100%, 55%);
  padding-bottom: 10px;
}

.product_name {
  font-size: 2.7rem;
  padding-bottom: 30px;
}

.description {
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  padding-bottom: 20px;
}

.price_discount {
  display: flex;
  /* background-color: aqua; */
  width: 11rem;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1rem;
}

.discount {
  display: flex;
  text-align: center;
  font-size: 1em;
  padding: 0.2rem 0.5rem;
}

.discount {
  color: hsl(26, 100%, 55%);
  background: hsla(26, 100%, 55%, 0.12);
  border-radius: 5px;
}

.before_price {
  padding-top: 10px;
  color: hsla(217, 9%, 45%, 0.461);
  text-decoration: line-through;
  padding-bottom: 30px;
}

.hero_button {
  display: flex;
  gap: 1rem;
}

.item_count {
  background: hsla(220, 14%, 75%, 0.23);
  width: 10rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.counter {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  justify-content: center;
  padding: 0 0.5rem 0.4rem 0.8rem;

  cursor: pointer;
}

.counter:hover {
  opacity: 0.5;
}

.item_count_index {
  font-size: 0.8rem;
  font-weight: 700;
}

.add_to_cart {
  background-color: hsl(26, 100%, 55%);
  color: white;
  padding: 0.8rem 5rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: none;

  -webkit-box-shadow: -3px 7px 24px -6px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -3px 7px 24px -6px rgba(0, 0, 0, 0.09);
  box-shadow: -3px 7px 24px -6px rgba(0, 0, 0, 0.09);
}

.add_to_cart_text {
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}
